@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form>

        <button asp-action="Visualizar">Visualizar Cadastros</button>
        <button  asp-action="Cadastrar">Fazer Cadastro</button>

    </form>
</div>
